@use 'variables' as *;

* {
    font-family: "Kanit", sans-serif;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
}

body {
     margin: 0;
     height: 400vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.hide {
    display: none;
}

.modal-window {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background-color: $color-mint;
}