@use 'variables' as *;

section {
    min-height: 100vh;
    padding: 8rem 0;

    &:nth-of-type(even) {
        background-color: $color-beige;
    }

    h2 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 5rem;
    }
}