@use 'variables' as *;

.promotion-box {
    background-color: $color-navy;
    color: $color-beige;
    border-radius: 1rem;
    padding: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem; 
    
    p {
        flex-basis: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        padding: 2rem;
        
        &:nth-of-type(1), &:nth-of-type(3) {
            flex-basis: 10%;
        }
    }
    
    span {
        font-size: 3.6rem;
        font-weight: bold;
    }
}